
.container-default {
  width: 100%;
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
}

.block2{
  position: relative;
  width: 100%;
  padding: 200px 0;
  min-height: 600px;
  overflow: hidden;
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #e6e6e6 100%);
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e6e6e6 100%);
  background: linear-gradient(to bottom,  #f7f7f7 0%,#e6e6e6 100%);
  

}

.block1 {
  padding: 200px 0px 75px 0px;
}

.fixed-header {
  position: fixed;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.1);
  z-index: 20;
  
}


