body {
  background: #f9e933;
}
 
header, main, footer {
  min-width: 855px;
}
 
header {
  background: white;
  overflow: auto;
}
 
header h1 { 
  float: left;
  width: 570px;
}
 
header nav {
  float: right;
  width: 285px;
}
 
main {
  background: white;
  overflow: auto;
  padding: 20px;
}
 
main .content {
  white-space: pre;
}

footer .left {
 
  float: left;
  width: 570px;
}
 
footer .sitemap {
  float: right;
  width: 285px;
}