body {
  background: lavender;
}

h1 h2 h3 h4 {
  font-family: 'Ubuntu', sans-serif;
}
 
header, main, footer {
  min-width: 855px;
}
 
header {
  background: white;
  overflow: auto;
}
 
header h1 { 
  float: left;
  width: 570px;
}
 
header nav {
  float: right;
  width: 285px;
}
 
main {
  background: white;
  overflow: auto;
  padding: 20px;
}

#user-header {
  font-size: 2.5em;
  font-weight: bold;
  color: blue;
}

.post {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.post p {
  white-space: pre-line;
}

li {
  list-style-type: none;
}

input {
  padding: 5px;
  margin: auto;
  border: 10px;
}

footer .left {
 
  float: left;
  width: 570px;
}
 
footer .sitemap {
  float: right;
  width: 285px;
}